:root {
    --small-text: 0.8rem;
    --larger-content: 70%;
    --smaller-content: 60%;
    --base-spacing: 20px;
}


/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* *GENERAL */

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.blue__button {
    border: none;
    background-color: #0061FF;
    color: rgb(237, 237, 237);
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    filter: opacity(0.7);
}


/* *HEADER */

#header {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 70px;
    padding: 10px;
    font-size: var(--small-text);
    background-color: white;
}

.container__nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.container__nav nav ul {
    list-style: none;
    display: flex;
    align-content: center;
}

.container__nav img {
    margin-right: 15px;
    height: 20px;
}

.container__nav nav {
    width: 50%;
}

nav li {
    padding: 0 15px;
}

.right__nav {
    display: flex;
    justify-content: flex-end;
}


/* *JUMBO */

.container__jumbo {
    background-color: #B4D0E7;
    height: 600px;
    position: relative;
}

.jumbo {
    width: var(--larger-content);
    margin: 0 auto;
}

.jumbo h1 {
    font-size: 3.7rem;
    font-weight: 900;
    padding: 60px 0
}

.jumbo__content {
    height: 50%;
    display: flex;
}

.jumbo__content p {
    line-height: 20px;
    font-size: var(--small-text);
}

.jumbo__content .blue__button {
    margin: 20px 0;
    padding: 10px;
}

.jumbo__content img{
    width: 70%;
}

.jumbo__text i {
    position: absolute;
    bottom: 30px;
}


/* *MAIN */

.main__section {
    padding-top: 150px;
    padding-bottom: 120px;
}

.main__container {
    width: var(--smaller-content);
    margin: 0 auto;
}

.main__container h2 {
    font-size: 2rem;
    margin-bottom: 50px;
}

.main__container label {
    margin-right: 50px;
}

.main__container input {
    margin-bottom: 40px;
}

.card__container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.card {
    border: 1px solid lightgrey;
    width: calc(100% / 3);
    min-height: 800px;
    font-size: var(--small-text);
}

.card__title {
    height: 30px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__title i {
    padding-right: 5px;
}

.card__content {
    padding: 30px 20px;
}

.card__content h3 {
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.card__content .price {
    font-size: var(--small-text);
    font-weight: bold;
    margin-bottom: 15px;
}

.card__content .month {
    color: rgb(98, 98, 98);
    margin-bottom: 40px;
}

.card__content .users  {
    margin-bottom: var(--base-spacing);
    display: flex;
}

.card__content .folder  {
    margin-bottom: var(--base-spacing);
    display: flex;
    height: var(--base-spacing);
}

.card__content i {
    padding-right: 5px;
}

.card__content .functions {
    display: flex;
    margin-bottom: 40px;
    height: 50px;
}

.card__content .blue__button {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
}

.buynow a {
    text-decoration: underline;
    color: blue;
}

.buynow span {
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
}

.puntisalienti {
    font-size: var(--small-text);
    font-weight: bold;
    margin: 60px 0 20px 0;
}

.blue__check {
    margin-bottom: var(--base-spacing);
    display: flex;
    height: 25px;
}

.blue__check i {
    color: blue;
}

.horizzontal__card {
    width: 100%;
    height: 200px;
    border: 1px solid lightgray;
    font-size: var(--small-text);
    display: flex;
}

.horizzontal__title {
    height: 30px;
    width: 100%;
    margin-top: 40px;
    border: 1px solid lightgrey;
    font-size: var(--small-text);
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizzontal__title i {
    padding-right: 5px;
}

.contatta {
    font-weight: bold;
    padding-bottom: 40px;
    margin-top: var(--base-spacing);
}

.horizzontal__content {
    padding: 30px 20px;
    width: 70%;
    height: 90%;
}

.horizzontal__right__content {
    width: 30%;
}

.horizzontal__button {
    margin-top: 30px;
    padding: 10px 10px;
    width: 80%;
}

.partner__box {
    margin: 150px 0;
    width: 100%;
    display: flex;
}

.partner__img {
    width: 60%;
}

.partner__img img{
    width: 100%;
}

.partner__content {
    width: 40%;
    margin: 40px 30px;
}

.partner__content p {
    font-size: var(--small-text);
    padding-top: var(--base-spacing);
    line-height: 18px;
}

.white__button {
    border: none;
    background-color: white;
    color: black;
    padding: 10px 10px;
    cursor: pointer;
    margin-top: var(--base-spacing);
    border: 1px solid black;
}

.business__container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--base-spacing);
}

.business__box {
    width: calc(100% / 3 - var(--base-spacing));
}

.business__box img {
    width: 100%;
}

.business__box h3 {
    margin-bottom: 30px;
}

.business__box p {
    font-size: var(--small-text);
}

.clients {
    width: 60%;
    margin-top: 250px;
    margin-bottom: 40px;
}

.clients a {
    text-decoration: underline;
    color: blue;
    font-size: var(--small-text);
}

.logos {
    display: flex;
}

.logo__container {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

.container__aside {
    display: flex;
    flex-wrap: wrap;
}

.logo__box {
    width: 50%;
    height: 50%;
    padding: 50px;
}

.logo__box img {
    filter: invert(1);
    width: 100%;
    height: 100%;
}

.lightgreen {
    padding: 10px;
    background-color: #D1E9CD;
}

.inside__box {
    width: 100%;
    height: 100%;
    background-color: #A2D39B;
    padding: 40px;
}

.brown {
    background-color: #61082B;
}

#florida {
    width: 100%;
    height: 30px;
}

.blue {
    background-color: #0093CE;
    display: flex;
    align-items: center;
}

.red {
    background-color: #FF1C1C;
}

.grey {
    background-color: #F5F5F5;
    padding: 40px;
}

.dark__red {
    background-color: #D5001F;
}

.lightblue {
    background-color: #B4D0E7;
}

.dark__blue {
    background-color: #0D2481;
}

.yellow {
    background-color: #FFD830;
}

.w-50__svg {
    width: 50%;
}

.separator {
    width: 60px;
    height: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid lightgrey;
}

.grey p {
    font-size: var(--small-text);
}

#cit {
    margin-top: 30px;
    font-size: var(--small-text);
}

.agency__business {
    height: 300px;
    background-color: #B4D0E7;
}

.agency__business__container {
    height: 100%;
    width: var(--smaller-content);
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.box__title {
    width: 50%;
    height: 80px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: #61082B;
}

.box__button {
    width: 50%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white__button__trial {
    border: none;
    background-color: white;
    padding: 10px 30px;
}

.faq {
    height: 80vh;
    display: flex;
    align-items: center;
}

.faq__container {
    width: var(--smaller-content);
    margin: 0 auto;
    height: 80%;
}

.faq__title {
    font-size: 1.3rem;
    padding: 40px 0;
    border-bottom: 1px solid grey;
}

.faq__box {
    display: flex;
    justify-content: space-between;
    font-size: var(--small-text);
    font-weight: bold;
    padding: 30px 0;
    padding-right: 30px;
    border-bottom: 1px solid grey;
}

.faq__box:hover {
    cursor: pointer;
} 

/* *FOOTER */

#footer {
    background-color: black;
    height: 60vh;
}

.footer__container {
    width: var(--larger-content);
    margin: 0 auto;
    height: 80%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer__box {
    color: white;
    width: calc(100% / 5);
    line-height: 30px;
}

.footer__box h3 {
    padding: 20px 0;
}

.footer__box ul {
    list-style: none;
    font-size: var(--small-text);
}

#languages {
    color: rgb(146, 146, 146);
    width: var(--larger-content);
    margin: 0 auto;
    height: 20%;
}

.language__box {
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid white;
}

#languages select {
    border: none;
    background-color: black;
    color: rgb(146, 146, 146);
}

#languages select:hover {
    cursor: pointer;
}