:root {
    --small-text: 0.8rem;
    --larger-content: 70%;
    --smaller-content: 60%;
}

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* *GENERAL */

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    display: flex;
    align-content: center;
}

a {
    text-decoration: none;
    color: black;
}

.blue__button {
    border: none;
    background-color: #0061FF;
    color: rgb(237, 237, 237);
    padding: 5px 10px;
    cursor: pointer;
}

/* *HEADER */

#header {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 70px;
    padding: 10px;
    font-size: var(--small-text);
    background-color: white;
}

.container__nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.container__nav img {
    margin-right: 15px;
    height: 20px;
}

.container__nav nav {
    width: 50%;
}

nav li {
    padding: 0 15px;
}

.right__nav {
    display: flex;
    justify-content: flex-end;
}

/* *JUMBO */

.container__jumbo {
    background-color: #B4D0E7;
    height: 600px;
    position: relative;
}

.jumbo {
    width: var(--larger-content);
    margin: 0 auto;
}

.jumbo h1 {
    font-size: 3.7rem;
    font-weight: 900;
    padding: 60px 0
}

.jumbo__content {
    height: 50%;
    display: flex;
}

.jumbo__content p {
    line-height: 20px;
    font-size: var(--small-text);
}

.jumbo__content .blue__button {
    margin: 20px 0;
    padding: 10px;
}

.jumbo__content img{
    width: 70%;
}

.jumbo__text i {
    position: absolute;
    bottom: 30px;
}

/* *MAIN */

