:root {
    --small-text: 0.8rem;
    --larger-content: 70%;
    --smaller-content: 60%;
    --base-spacing: 20px;
}


/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* *GENERAL */

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    display: flex;
    align-content: center;
}

a {
    text-decoration: none;
    color: black;
}

.blue__button {
    border: none;
    background-color: #0061FF;
    color: rgb(237, 237, 237);
    padding: 5px 10px;
    cursor: pointer;
}


/* *HEADER */

#header {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 70px;
    padding: 10px;
    font-size: var(--small-text);
    background-color: white;
}

.container__nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.container__nav img {
    margin-right: 15px;
    height: 20px;
}

.container__nav nav {
    width: 50%;
}

nav li {
    padding: 0 15px;
}

.right__nav {
    display: flex;
    justify-content: flex-end;
}


/* *JUMBO */

.container__jumbo {
    background-color: #B4D0E7;
    height: 600px;
    position: relative;
}

.jumbo {
    width: var(--larger-content);
    margin: 0 auto;
}

.jumbo h1 {
    font-size: 3.7rem;
    font-weight: 900;
    padding: 60px 0
}

.jumbo__content {
    height: 50%;
    display: flex;
}

.jumbo__content p {
    line-height: 20px;
    font-size: var(--small-text);
}

.jumbo__content .blue__button {
    margin: 20px 0;
    padding: 10px;
}

.jumbo__content img{
    width: 70%;
}

.jumbo__text i {
    position: absolute;
    bottom: 30px;
}


/* *MAIN */

.main__section {
    padding-top: 150px;
    padding-bottom: 120px;
}

.main__container {
    width: var(--smaller-content);
    margin: 0 auto;
}

.main__container h2 {
    font-size: 2rem;
    margin-bottom: 50px;
}

.main__container label {
    margin-right: 50px;
}

.main__container input {
    margin-bottom: 40px;
}

.card__container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.card {
    border: 1px solid black;
    width: calc(100% / 3);
    min-height: 700px;
    font-size: var(--small-text);
}

.card__title {
    height: 30px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__title i {
    padding-right: 5px;
}

.card__content {
    padding: 30px 20px;
}

.card__content h3 {
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.card__content .price {
    font-size: var(--small-text);
    font-weight: bold;
    margin-bottom: 15px;
}

.card__content .month {
    color: rgb(98, 98, 98);
    margin-bottom: 40px;
}

.card__content .users  {
    margin-bottom: var(--base-spacing);
    display: flex;
}

.card__content .folder  {
    margin-bottom: var(--base-spacing);
    display: flex;
}

.card__content i {
    padding-right: 5px;
}

.card__content .functions {
    display: flex;
    margin-bottom: 40px;
}

.card__content .blue__button {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
}

.buynow a {
    text-decoration: underline;
    color: blue;
}

.buynow span {
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid lightgray;
}